.headerPic {
  background: linear-gradient(#86e8b8, transparent 50%), linear-gradient(0deg, #fff, transparent 90%), url("../img/Gallery.jpg");
  background-size: cover;
  height: 850px;
  padding-top: 170px;
}
